@import url("~bootstrap/dist/css/bootstrap.css");
@import url("~codemirror/lib/codemirror.css");
@import url("~codemirror/theme/xq-light.css");

html,
body {
  font-size: 15px;
  height: 100%;
  min-height: 500px;
  min-width: 700px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

label {
  font-weight: bold;
}

.swal-content__input:focus,
.swal-content__textarea:focus {
  border-color: #1a7ef0;
}

.swal-button:focus {
  background: #1565c0;
}
.swal-button {
  background: #1a7ef0;
}
